$background: #212121;
$border: #000000;

.systray_menu,
.sysinfo_menu {
    font-size: 14px;
    font-family: JetBrainsMono Nerd Font Mono;
    background-color: $background;
    border: 2px solid $border;
}

.reserve {
    font-size: 0px;
}

.systray_menu {
    font-size: 15px;
}

.cp,
.cp-lax,
.cp-ok,
.cp-taxed {
    background-color: #303030;
}

$lax: #aaffaa;
$ok: #ffff00;
$taxed: #ff5050;

.cp-lax { color: $lax; }
.cp-ok { color: $ok; }
.cp-taxed { color: $taxed; }
