* {
	color: #ebdbb2
}

@define-color warning	#c00000;
@define-color warning_border	#f00000;
@define-color focused	#356769;
@define-color focused_border	#7daea3;
@define-color inactive	#282828;
@define-color inactive_border	#1d2021;
@define-color unfocused	#1d2021;
@define-color unfocused_border	#282828;

@define-color fg	#ebdbb2;
@define-color fg2	#7c6f64;
@define-color bg	#141617;
@define-color bg2	#3c3836;


window {
	background-color: @bg;
	font-size: 16px;
	font-family: "DejaVu Mono";
}

#scroll {
	border: none;
}


#input {
	font-size: 16px;
	background-color: #282828;
	border-radius: 0px;
	border: 1px solid @bg;
}

#entry {
	background-color: @bg;
	border-radius: 0px;
	padding: 4px;
}

#entry:selected {
	background-color: @focused;
	border: 1px solid @focused_border;
	outline: none;
	border-radius: 0px;
	padding: 4px;
}

#img:selected {
    background: none;
}
#text:selected {
    background: none;
}
